<!-- wp:group {"layout":{"type":"default"}} -->
<div id="app" class="wp-block-group p-4 gap-4">
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
        <!-- wp:template-part {"slug":"header","tagName":"header"} /-->
        <div class="wp-block-group grid lg:grid-cols-[220px_1fr_300px] md:grid-cols-[1fr_300px] grid-cols-[1fr] gap-4 items-start relative">
            <!-- wp:template-part {"slug":"leftbar","tagName":"aside","className": "sticky top-[70px] hidden lg:block md:hidden"} /-->
            <!-- wp:template-part {"slug":"main","tagName":"main"} /-->
            <!-- wp:template-part {"slug":"rightbar","tagName":"aside","className": "sidebar sticky top-[70px] lg:block md:block"} /-->
        </div>
        <!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->